<!DOCTYPE html>
<html ng-app="kudos">
	<head>
		<meta charset="utf-8">
		<title>Kudos!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>		

	<body>
	
		<div class="container">

			<div class="row">
				&nbsp;
			</div>

			<div class="row" ng-controller="KudosSubmit">
				<form ng-submit="addKudo()">
					<fieldset>
						<div class="span3">
							<input type="text" typeahead="user for user in users | filter:$viewValue" placeholder="Team Member" ng-model="personName">
						</div>

						<div class="span3">
							<input type="text" placeholder="Yay! Thanks for..." ng-model="kudoText">
						</div>

						<div class="span1">
							<button type="submit" class="btn"><i class="icon-thumbs-up"></i></button>
						</div>

					</fieldset>
				</form>
			</div>

			<div class="row" ng-controller="KudosList">
				<div class="span4">

					<div class="row" ng-repeat="kudo in kudos | orderBy:'date':true ">
						<p>
							<a class="btn btn-success btn-mini" ng-click="repostKudo($index)" tooltip-placement="left" tooltip="Repost this Kudo!">
								<i class="icon-thumbs-up icon-white"></i>
							</a>

							<strong>{{kudo.person}}</strong> ({{kudo.date | date:'dd/MM/yyyy'}})
						</p>
						<p class="text-info">
							<em>{{kudo.reason}}</em>
						</p>
					</div>

				</div>
			</div>

		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="js/ui-bootstrap-custom-tpls-0.4.0.min.js"></script>
	<script src="js/kudos.js"></script>
	</body>
</html>
