<div class="row">
    <form ng-submit="addKudo()">
        <fieldset>
            <div class="span3">
                <input type="text" typeahead="u.name for u in users | filter:$viewValue" placeholder="Team Member" ng-model="personName" required>
            </div>

            <div class="span3">
                <input type="text" placeholder="Yay! Thanks for..." ng-model="kudoText" required>
            </div>

            <div class="span1">
                <button type="submit" class="btn" tooltip-placement="right" tooltip="Post a new Kudo!"><i class="icon-thumbs-up"></i></button>
            </div>

        </fieldset>
    </form>
</div>

<div class="row">
    <div class="span4">
        <div class="row">
            <form class="form-inline" ng-submit="refreshKudos()">
                <button type="submit" class="btn btn-primary">
                    <i class="icon-refresh icon-white"></i>
                </button>

                Show last: 

                <label class="radio">
                    <input type="radio" ng-model="lastN" value="5"> 5
                </label>

                <label class="radio">
                    <input type="radio" ng-model="lastN" value="10"> 10
                </label>

                <label class="radio">
                    <input type="radio" ng-model="lastN" value="30"> 30
                </label>

            </form> 
        </div>

        <div class="row" ng-repeat="kudo in kudos | orderBy:'date':true | limitTo:lastN ">
            <p>
                <a class="btn btn-success btn-mini" ng-click="plusKudo(kudo.id)" tooltip-placement="left" tooltip="Upvote this Kudo!">
                    <i class="icon-plus icon-white"></i>
                </a>

                <strong><a ng-href='#/user/{{kudo.p_id}}'>{{kudo.person}}</a></strong>
                ({{kudo.date | date:'dd/MM/yyyy'}}) - {{kudo.votes}} vote(s)
            </p>
            <p class="text-info">
                <em>{{kudo.reason}}</em>
            </p>
        </div>
    </div>
</div>

<div class="row" ng-show='{{user_page}}'>
    <a href='#/'>Back to Kudos list</a>
</div>